<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 class="mt-5">Book Details</h1>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title" th:text="${'Title: ' + book.title}"></h5>
            <h5 class="card-subtitle mb-2 text-muted" th:text="'Author: ' + ${book.author}"></h5>
            <h5 class="card-text" th:text="'Genre: ' + ${book.genre}"></h5>
            <a th:href="@{/}" class="card-link">Back</a>
            
        </div>
    </div>
</div>

</body>
</html>
