<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>School Schedule</title>
  <link rel="stylesheet" href="./../../assets/css/style.css">
  <link rel="stylesheet" href="./../schedule/style.css">
</head>

<body>
  <h1 class="text-center main-heading">School Schedule</h1>

  <div class="course-selection-div">
    <span><h2 id="selected-class">Software Engineering</h2></span>
    <span>
      <select id="class-selection">
        <option>Select Class</option>
        <option value="Computer Networking">Computer Networking</option>
        <option value="Software Engineering">Software Engineering</option>
        <option value="Systems Engineering">Systems Engineering</option>
      </select>
    </span>
  </div>

  <hr />

  <div class="schedules-holder" id="schedules-holder">

    <div class="simplified-schedule" id="simplified-schedule">

      <span id="now-span" class="item">
        <h3 class="text-center">Now</h3>

      </span>

      <span id="next-span" class="item">
        <h3 class="text-center">Next</h3>

      </span>

      <span id="after-span" class="item">
        <h3 class="text-center">After</h3>

      </span>
    </div>

    <hr />

    
    <div id="tabular-scedule" class="tabular-scedule">
      <table>
        <thead>
          <tr>
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>
        <tbody>
          <!-- Schedule Rows -->
          <!-- 07:00 - 07:50 -->
          <tr>
            <td>07:00 - 07:50</td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 1</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location A</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 2</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location B</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 3</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location C</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 4</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location D</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 5</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location E</div>
            </td>
          </tr>
          <!-- 08:00 - 08:50 -->
          <tr>
            <td>08:00 - 08:50</td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 6</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location F</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 7</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location G</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 8</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location H</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 9</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location I</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 10</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location J</div>
            </td>
          </tr>
          <!-- 09:00 - 09:50 -->
          <tr>
            <td>09:00 - 09:50</td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 11</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location K</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 12</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location L</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 13</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location M</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 14</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location N</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 15</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location O</div>
            </td>
          </tr>
          <!-- 10:00 - 10:50 -->
          <tr>
            <td>10:00 - 10:50</td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 16</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location P</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 17</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location Q</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 18</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location R</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 19</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location S</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 20</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location T</div>
            </td>
          </tr>
          <!-- 11:00 - 11:50 -->
          <tr>
            <td>11:00 - 11:50</td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 21</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location U</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 22</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location V</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 23</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location W</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 24</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location X</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 25</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location Y</div>
            </td>
          </tr>
          <!-- 12:00 - 12:50 -->
          <tr>
            <td>12:00 - 12:50</td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 26</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location Z</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 27</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AA</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 28</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AB</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 29</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AC</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 30</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AD</div>
            </td>
          </tr>
          <!-- 13:00 - 13:50 -->
          <tr>
            <td>13:00 - 13:50</td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 31</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AE</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 32</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AF</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 33</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AG</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 34</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AH</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 35</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AI</div>
            </td>
          </tr>
          <!-- 14:00 - 14:50 -->
          <tr>
            <td>14:00 - 14:50</td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 36</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AJ</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 37</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AK</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 38</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AL</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 39</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AM</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 40</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AN</div>
            </td>
          </tr>
          <!-- 15:00 - 15:50 -->
          <tr>
            <td>15:00 - 15:50</td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 41</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AO</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 42</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AP</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 43</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AQ</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 44</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AR</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 45</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AS</div>
            </td>
          </tr>
          <!-- 16:00 - 16:50 -->
          <tr>
            <td>16:00 - 16:50</td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 46</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AT</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 47</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AU</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 48</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AV</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 49</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AW</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 50</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AX</div>
            </td>
          </tr>
          <!-- 17:00 - 17:50 -->
          <tr>
            <td>17:00 - 17:50</td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 51</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AY</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 52</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location AZ</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 53</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location BA</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 54</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location BB</div>
            </td>
            <td class="schedule-cell">
              <div><img src="./../schedule/icons/book.png" alt="Book" class="icon"> Course 55</div>
              <div><img src="./../schedule/icons/location-pin.png" alt="Location" class="icon"> Location BC</div>
            </td>
          </tr>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>


    <footer>
      <div>
        <h3>Credits</h3>
        <p><span>Clock icon: </span>By <a href="https://www.flaticon.com/authors/those-icons"
            title="Those Icons"> Those Icons </a> from <a href="https://www.flaticon.com/"
            title="Flaticon">www.flaticon.com</a></p>
        <p><span>Book icon: </span>By <a href="https://www.flaticon.com/authors/freepik" title="Freepik">
            Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
        <p><span>Location pin icon: </span>By <a href="https://www.flaticon.com/authors/those-icons"
            title="Those Icons"> Those Icons </a> from <a href="https://www.flaticon.com/"
            title="Flaticon">www.flaticon.com</a></p>
      </div>

    </footer>

  </div>
  <script src="./../schedule/script.js"></script>
</body>

</html>

